* {
    margin: 0;
    padding: 0;
}

*, html {
    scroll-behavior: smooth;
}

textarea {
    display: block;
    max-width: 100%;
    min-width: 200px;
    min-height: 70px;
    max-height: 100px;
    border-color: #ccc;
    margin-right: 0;
    padding: 5.5px;
}

.hide {
    display: none;
}

form button {
    display: block;
    width: 100%;
    height: 33px;
    border: none;
    background-color: rgb(56, 106, 233);
    color: #fff;
    cursor: pointer;
    margin-right: 0;
}

/* header section  */
#main-header {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.shoutout-btn {
    font-size: 23px;
    font-weight: bolder;
    text-decoration: none;
    font-family: arial;
}

.shoutout-btn:hover {
    animation: tada 1s normal;
    color: red;
}

/* map section  */

.leaflet-container {
    width: 100vw;
    height: 90vh;
}

.display-container {
    min-width: 200px;
    min-height: 300px;
}

.is-loading {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 3em;
    color: #ccc;
    font-family: sans-serif;
}

/* shoutbox section */
.shoutout-display {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    white-space: pre-line;
}

/* comment section */
.comment-section h4 {
    margin-bottom: 5px;
}

.comment-section li {
    list-style: none;
    padding: 2px 0;
}

.comment-section li div {
    background-color: #eeeeee;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    white-space: pre-line;
}

.comment-feed {
    background: #f6f6f678;
    max-height: 200px;
    overflow: scroll;
    display: block;
    margin-bottom: 5px;
    padding: 6px 6px;
    border-radius: 5px;
}

.at-bottom {
    /* box-shadow: inset 0 -10px 10px -10px #cdcdcd; */
    animation: at-bottom .8s normal;
    animation-fill-mode: forwards;   
}

/* footer */
footer {
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ccc;
}

/* animation fx */
.fade-animation {
    animation: fade 5s infinite both;   
}

@keyframes at-bottom {
    0% {
        box-shadow: inset 0 -15px 10px -10px #dfdede;
    }
    100% {
        box-shadow: inset 0 0 0 0 #dfdede;
    }
}

@keyframes fade {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
}

@keyframes tada {
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
 } 